.stage,.pane,.Textfield,.TextArea,.StackPane,.GridPane,.ScrollPane,.AnchorPane,.vbox,.hbox,.root,.scene,.ImageView {
		-fx-background-color: rgba(255.0,255.0,255.0,1.0); /*투명도 적용*/
}

/* 포커싱 된 구간의 경계를 빨간색으로 표시함(전역) */
.textarea,.textfield:focused {
	-fx-border-color: green;
}

/* Label 타입에 일괄적용 laber.부여한id로 세부 적용 가능 */
.Label {
    -fx-font-size: 13.0px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 0.8;
}


.button{
    -fx-background-color: linear-gradient(#dbf1ff, white);
    }


.button:hover{
    -fx-background-color: linear-gradient(#e55555 10%, white);
}